<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jakarta.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jakarta.org/xml/ns/javaee http://xmlns.jakarta.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- JSP Servlet Configuration -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet Mapping for JSP files -->
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>new.jsp</welcome-file>
        <welcome-file>Adminlogin.jsp</welcome-file>
        <welcome-file>slogin.jsp</welcome-file> <!-- Removed extra space before "slogin.jsp" -->
    </welcome-file-list>
</web-app>
